# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @natura-cosmeticos/design-system-team will be requested for
# review when someone opens a pull request.
*       @natura-cosmeticos/design-system-team